@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
    background: linear-gradient(90deg, #FCB5E1, #004C85);
    height: 100vh;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card{
    display: flex;
    flex-direction: column;
    padding: 20px 50px 20px 50px;
    max-width: 350px;
    border: 3px #11538B solid;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0px 3px 4px 2px #6B006D;
    margin-top: 30px;
}

img{
    width: 80px;
}

form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}

label{
    font-size: 0.8em;
}

input{
    padding: 10px;
    outline: none;
    border-radius: 7px;
    border-style: solid;
    border-color: rgb(13, 13, 13);
    border-width: 1px;    
    background-color: #004C85;
    width: 100%;
}

.label-input{
    text-align: left;
    margin-top: 10px;
    padding: 3px;
}

input:hover, select:hover{
    border-color: white;
}

::placeholder{
    color: rgba(240, 248, 255, 0.415);
}

#gender-select{
    outline: none;
    background-color: #004C85;
    padding: 5px;
    margin: auto;
    color: aliceblue;
}

.select-align{
    text-align: center;
}

#submit-btn{
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(20, 20, 20, 0.892);
    color: white;
    cursor: pointer;
    width: 60%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    transition: ease-in-out;
    border-style: solid;
    border-color: rgb(13, 13, 13);
    border-width: 1px;    
}

#submit-btn:hover{
    transform: scale(1.1);
    border-style: solid;
    border-color: aliceblue;
}

h1{
    font-size: 1.5em;
}

h3{
    font-size: 0.8em;
    color: white;
    font-weight: 400;
    text-align: center;
}

a{
    text-decoration: none;
}

footer{
    height: 60px;
}